root {display: block;}
body {}

.tab-title {font-size:18px;}
.center-info-header {text-align: center; font-size:30px; margin-top: 50px;}
.content-padd {margin-top:50px;}
.container > .tabbable {margin-top: 2px; border-bottom: 2px; border-bottom-style: dotted; border-bottom-color: #d3d3d3;}
.container > .tabbable > .nav {margin-top: 20px;}

.project-left-menu { border-right-style: block; border-right : 2px }
.project-title-desc {margin-top : 40px; margin-bottom : 40px; font-size: 70px;}
.project-info-block { margin-top : 60px; margin-bottom : 20px}
.project-info-header { margin-bottom: 20px; border-bottom: 2px; border-bottom-color: #d3d3d3; border-bottom-style: solid}
.project-info-body { font-size: 20px; line-height: 150%;}
